.container {
    width: 75%;
    margin: 0 auto;
}

.loading {
    width: 15%;
    margin: 0 auto;
}

.item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.pad {
    padding: 10px;
    width: 200px;
}