.header {
    display: flex;
    height: 200px;
    width: 75%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.header input[type="text"] {
    width: 90%;
    height: 30px;
}

.button {
    height: 36px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
    outline: none;
}

.button:hover {
    background: rgb(232,95,76);
}

.button:active {
    background: rgb(152,15,0);
}
